body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffffed
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}



.questionList {
  list-style-type: none;
}

.questionBox {
  width: 100%;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  font-size: 16px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.questionBoxBtn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  width:100%;
}

.questionBoxBtn:hover {
  background: #cad9ff;
  text-decoration: none;
  cursor: pointer;
}

.margin-right{
  margin-right: 7px;
}

.submitBtn {
  margin: 35px auto;
  padding: 10px;
  cursor: pointer;
  background: #4077ff;
  font-size: 16px;
  display: flex;
  color: white;
  border-radius: 4px;
  font-weight: bold;
}


.selectedResult {
  font-weight: bold;
  background: #cad9ff;
  border: 1px solid #4077ff;
  border-radius: 4px;
  color: #4077ff;
  padding: 2px;
}

.unselectedResult {
  padding: 3px;
}

.left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right {
  width: 100%;
  margin-right: 10px;
}

.info {

}

.headline {
  font-size: 18px;
}

.radio {
  margin-top: 24px;
}
.question {
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
  margin-bottom: 10px;

}

.questioner {
	padding: 7px;
	font-weight:bold;
	background-color: #4077ff;
	color: white;
  display: flex;
  justify-content: space-between;
}

.result {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.username {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 20px;
  font-size: 18px;
  font-weight: bold;
  background: #4077ff;
  color:white;
  border-bottom: 1px solid #dad7d7;
}

.avatar {
  height: 100px;
  border-radius: 50px;
  margin: 10px;
  margin-right: 36px;
  /* float: left; */
}
.question-info {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.new-question {
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.textarea {
  border-radius: 4px;
  border: 1px solid #dad7d7;
  padding: 10px;
  font-size: 15px;
  height: 15px;
}

.question-length {
  text-align: right;
  margin-top: 10px;
  font-size: 20px;
  color: #C3392A;
}

.user-box {
  width: 65%;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  font-size: 16px;
  padding-bottom: 7px;
  background: white;
  /* overflow: hidden; */
 
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
}

.score{
  border-radius: 100px;
  width: 60px;
  height: 60px;
  margin-left: 10px;
  font-size: 25px;
  background: #4077ff;
  color: white;
  border: 1px solid #dad7d7;
  display: flex;
  justify-content: center;
  align-items: center;

}

.score-box{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding-right: 12px;
}

.login-box {
  width: 65%;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  font-size: 16px;
  padding-bottom: 7px;
  background: white;
 
}

.nav ul {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background:white;
  padding: 10px;
  border: 1px solid #dad7d7;
  color: black;
}


.active {
  text-decoration: none;
  color: #4077ff; 
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.remove {
  text-decoration: none;
  color: black;
}

.red {
  color: red;
}